html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Oswald", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(33, 84, 135) 80%, rgb(30, 50, 81));
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 1000;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
}

p {
  font-size: 1.3rem;
  font-weight: 600;
}

.navbar {
  border-radius: 2%;
}

.collapse { /*desktop*/
  justify-content: center;
}

.nav-item { /*mobil*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-item .nav-link {
  color: yellowgreen;
  margin: 10px;
}

.nav-link.activado {
  color: rgb(189, 251, 109);
}

.redes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 0;
}
.redes img:hover {
  height: 100px;
}
.redes__titulo {
  color: yellowgreen;
  margin-bottom: 50px;
}
.redes__img {
  height: 80px;
}

.sobremi {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 10px;
}
.sobremi__titulo {
  margin: 50px 15px;
  color: rgb(170, 217, 76);
}
.sobremi__subtitulo {
  margin: 50px 15px;
  color: rgb(255, 255, 255);
}
.sobremi__parrafo {
  margin: 50px 15px;
  color: aliceblue;
}

.estudios__perfil {
  display: flex;
  flex-direction: column;
  margin: 15px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.estudios__perfil a {
  color: yellowgreen;
  display: flex;
  align-items: center;
}
.estudios__perfil img {
  width: 100px;
  margin: 10px;
}
.estudios__certificados {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 15px;
}
.estudios__certificados--titulo {
  font-size: 2rem;
  color: yellowgreen;
}
.estudios__certificados--img {
  width: 90%;
  border: 5px solid yellowgreen;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills__titulo {
  color: yellowgreen;
}
.skills__img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills__img--1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills__img--2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills__img img {
  margin: 30px;
  width: 200px;
}

.tituloProyecto {
  display: flex;
  justify-content: center;
  margin: 50px 15px;
  color: rgb(170, 217, 76);
}

.proyectos {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.proyectos__autos {
  display: flex;
  flex-direction: column;
  margin: 150px 10px;
  border: 5px solid yellowgreen;
  border-radius: 5px;
}
.proyectos__autos--link {
  background-image: url(../../img/proyecto\ autos.png);
  background-size: cover;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-decoration: none;
}
.proyectos__autos--link h2 {
  padding: 10px;
  color: rgb(200, 249, 103);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.proyectos__autos__skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  padding: 1rem;
}
.proyectos__autos__skills--img {
  display: flex;
  justify-content: center;
}
.proyectos__autos__skills--img img {
  height: 60px;
  margin-left: -1.5rem;
  transform: rotate3d(0, 0, 1, -10deg);
}
.proyectos__autos__skills--p {
  color: yellowgreen;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.proyectos__autos__skills--p a {
  color: rgb(185, 226, 104);
  margin: 20px 0;
  font-size: 1.5rem;
}

a:hover h2 {
  opacity: 1;
  transition-duration: 0.5s;
}

.contacto {
  color: yellowgreen;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.formulario__lista {
  margin: 15px;
}
.formulario__lista--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: yellowgreen;
}
.formulario__lista--item input {
  width: 100%;
  background-color: rgb(30, 50, 81);
  border: none;
  height: 40px;
  margin: 5px 0;
  color: yellowgreen;
}
.formulario__lista--item textarea {
  width: 100%;
  background-color: rgb(30, 50, 81);
  border: none;
  height: 70px;
}

@media screen and (min-width: 1024px) {
  .skills {
    flex-direction: row;
    justify-content: space-around;
  }
  .skills__titulo {
    color: yellowgreen;
  }
  .skills__img {
    flex-direction: column;
    align-items: center;
    height: 500px;
  }
  .skills__img--1 {
    flex-direction: row;
    padding: 10px 10px 0 0;
  }
  .skills__img--1 img {
    margin: 0 0 -2rem -3rem;
    transform: rotate3d(1, 1, 1, 15deg);
  }
  .skills__img--2 {
    flex-direction: row;
    padding: 0 10px 10px 0;
  }
  .skills__img--2 img {
    margin: 30px;
    width: 200px;
    margin: -2rem 0 0 -3rem;
    transform: rotate3d(1, 1, 1, 15deg);
  }
  .skills img {
    transition: 0.5s linear;
  }
  .skills img:hover {
    transform: none;
    margin: 10px 50px;
    z-index: 1;
  }
  .proyectos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
  }
  .proyectos__autos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 150px 10px;
    border: 5px solid yellowgreen;
    width: 45%;
  }
  .proyectos__autos--link {
    background-image: url(../../img/proyecto\ autos.png);
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-decoration: none;
    width: 50%;
  }
  .proyectos__autos--link h2 {
    padding: 10px;
    color: rgb(200, 249, 103);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    opacity: 0;
  }
  .proyectos__autos__skills {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    width: 50%;
  }
  .proyectos__autos__skills--img {
    display: flex;
    justify-content: center;
  }
  .proyectos__autos__skills--img img {
    height: 60px;
    margin-left: -1.5rem;
    transform: rotate3d(0, 0, 1, -10deg);
  }
  .formulario {
    display: flex;
    justify-content: center;
    margin: 150px 0;
  }
  .formulario__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
  }
  .formulario__lista--item {
    width: 40%;
    margin: 5px;
  }
  .formulario__lista--item input {
    height: 70px;
  }
  .formulario__lista--item textarea {
    height: 70px;
    margin-top: 5px;
  }
}/*# sourceMappingURL=estilos.css.map */