.redes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 0;
    img:hover{
        height: 100px;
    }
    &__titulo{
        color: yellowgreen;
        margin-bottom: 50px;
    }
    &__img{
        height: 80px;
    }
}