.sobremi{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 10px ;
    &__titulo{
        margin: 50px 15px;
        color: rgb(170, 217, 76);
    }
    &__subtitulo{
        margin: 50px 15px;
        color: rgb(255, 255, 255);
    }
    &__parrafo{
        margin: 50px 15px;
        color: aliceblue;
    }
}
main{
    border: solid red 1px;
}
.estudios{
    &__perfil{
        display: flex;
        flex-direction: column;
        margin: 15px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border:1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        box-sizing: border-box;
        a{
            color: yellowgreen;
            display: flex;
            align-items: center;
        }
        img{
            width: 100px;
            
        }
    }
    &__certificados{
        display: flex;
        flex-direction: column;
        align-items: center;
        &--titulo{
            font-size: 2rem;
            color: yellowgreen;
        }
        &--img{
            width: 90%;
            border: 5px solid yellowgreen;
        }
    }
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__titulo{
        color: yellowgreen;
    }
    &__img{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            margin: 30px;
            width: 200px;
        }
    }
}