.estudios{
    &__cv{
        h2{
            font-size: 2rem;
            margin-left: 10px;
        }
    }
    &__certificados{
        &--titulo{
            font-size: 2rem;
            margin-left: 10px;
        }
        &--img{
            width: 80%;
            margin: 10px;
        }
    }
}

