.sobremi{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 10px ;
    &__titulo{
        margin: 50px 15px;
        color: rgb(255, 255, 255);
    }
    &__subtitulo{
        margin: 50px 15px;
        color: rgb(255, 255, 255);
    }
    &__parrafo{
        margin: 50px 15px;
        color: aliceblue;
    }
}
.estudios{
    &__cv{
        h2{
            font-size: 2rem;
            color: yellowgreen;
        }
        div{
            border: 10px solid yellowgreen;
        }
    }
    &__certificados{
        display: flex;
        flex-direction: column;
        align-items: center;
        &--titulo{
            font-size: 2rem;
            color: yellowgreen;
        }
        &--img{
            width: 80%;
            border: 10px solid yellowgreen;
        }
    }
}

.skills{
    display: flex;
    flex-wrap: wrap;
    &__img{
        width:100px;
        margin: 10px;
    }
}