.proyectos{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    &__autos{
        display: flex;
        flex-direction: column;
        margin: 150px 10px;
        border: 5px solid yellowgreen;
        &--link{
            background-image: url(../../img/proyecto\ autos.png);
            background-size: cover;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            text-decoration: none;
            h2{
                padding: 10px;
                color: rgb(200, 249, 103);
                background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
                backdrop-filter: blur(20px);
                -webkit-backdrop-filter: blur(10px);
                border:1px solid rgba(255, 255, 255, 0.18);
                box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
            }
        }
        &__skills{
            display: flex;
            flex-direction: column;
            background-color: white;
            padding: 1rem;
            &--img{
                display: flex;
                justify-content: center;
                img{
                    height: 60px;
                    margin-left: -1.5rem;
                    transform: rotate3d(0, 0, 1, -10deg);
                }
            }
        }
    }
}

a:hover{
    h2{
        opacity: 1;
        transition-duration: 0.5s;
    }
}
